.speech{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(252, 7, 7);
}
.stage-direction{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(17, 16, 16);
    background-color:rgb(30, 162, 202);
}
.name{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(173, 236, 120);  
}
.stage-direction:hover{
    color:rgb(131, 14, 241);
    background-color:rgb(194, 238, 238);
}
.MISS PRISM{
    color:rgb(235, 16, 169);
}
.CECILY{
    color: black;
}
table{
    border:1px solid black;
    padding: 30px 25px 45px;
    margin: 25px 50px 75px 100px;
    width:50%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
    background-color:pink;
}
td{
    color:rgb(70, 51, 153);
    border: 1px solid black;
    text-align: left;
}
tr:nth-child(even) {
    background-color:yellow;
}
.name:hover{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.822);
    color:rgb(0, 195, 255);
    filter: blur(3px);
    border: solid 2px rgb(220, 220, 220);
}
